.button {
  border-radius: 8px;
}

.common {
  > label {
    > span {
    }
  }
}

.field {
  .label {
    margin-bottom: -30px;
  }
  input {
  }
}

.uploadField {
  p {
    align-self: flex-end;
  }
  .uploadFlex {
    gap: 25px;
    > .uploadImageContainer {
      img {
      }

      > span {
      }
    }
    .inputContainer {
      position: relative;

      width: 80%;
      color: #828282;
      z-index: 2;
      height: 50px;
      border-radius: 5px;
      align-self: flex-end;
      p {
        top: 10px;
        left: 10px;
        position: absolute;
        z-index: -2;
      }

      input {
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
      }
    }
    > label {
      .error {
      }

      > span {
      }

      &:hover > input {
      }
    }
  }
}

.error {
}

.editorWrapper {
  .wrapper {
    .toolbar {
      > div {
        > div {
        }
      }
    }

    .editor {
    }
  }
}
