@import "src/assets/styles/adaptive";
.list {
  top: calc(100% + 15px);
  overflow-y: scroll;
  @include _480 {
    width: 240px;
    margin-top: 100px;
    margin-left: -140px;
  }
  @include _360 {
    width: 220px;
    margin-top: 100px;
    margin-left: -120px;
  }
  > a {
    &::after {
      content: "";
      top: 28%;
      transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover::after {
    }

    img {
      height: 80px;
      width: 60px;
    }

    > span {
      &:last-child {
        width: 70%;
      }
    }
  }
}
